*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background: #344E41;
  margin: 0;
  padding: 0;
}
.container{
    background-color: #DAD7CD;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
}
.timerDisplay{
    position: relative;
    width: 92%;
    background: #DAD7CD;
    left: 4%;
    padding: 40px 0;
    font-family: ‘Roboto mono’,monospace;
    color: #000000;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px #588157;
}
.buttons{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}
.buttons button{
    width: 120px;
    height: 45px;
    background-color: #A3B18A;
    color: #ffffff;
    border: none;
    font-family: ‘Poppins’,sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 400px; /* Set maximum width for container on mobile devices */
    padding: 10px; /* Reduce padding on smaller screens */
  }
  .timerDisplay {
    position: relative;
    width: 100%; /* Set width to 100% for mobile responsiveness */
    background: #DAD7CD;
    padding: 20px 0; /* Reduce padding for mobile */
    font-family: 'Roboto mono', monospace;
    color: #000000;
    font-size: 2rem; /* Use rem or em units for font-size */
    display: flex;
    flex-wrap: wrap; /* Add flex-wrap for content to wrap on smaller screens */
    align-items: center;
    justify-content: center; /* Adjust justify-content for mobile */
    border-radius: 5px;
    box-shadow: 0 0 20px #588157;
}
}